*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* TITRE DE LA PAGE */
h1{
  text-align: center;
  margin-top: 25px ;
  color: #3F4574;
 
}

/* POUR TOUS LE FORMULAIRE */
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* POUR TOUS LES LABEL ET INPUT  */
label, input{
  margin-top: 10px;
}

/* POUR LES LABELS */
label{
  font-size: 18px;
}

/* POUR LE NOM ET LE TEL */
#name,#tel{
  width:20vw;
  height:25px;
}

/* BTN  */
#btn{
  padding: 15px;
  border-radius: 15px;
  font-size:16px;
  background-color: #E8EFFC;
  border-color: #E8EFFC;
  cursor: pointer;
  /* border:0;  */
}

/* DIV POUR TOUTES LES CARDS  */
.card{
  max-width:100vw;
  display: flex;
  flex-wrap: wrap;
}

/* POUR CHAQUE CARD  */
.contactCard{
  display: flex;
  flex-direction: column;
  border:1px solid black;
  padding: 15px;
  margin-top: 15px;
  margin-left: 30px;
}

/* POUR LE NOM + TEL */
p{
  margin-top:8px;
  font-size:17px;
}
/* POUR LES BTN DES CARD DU OU DES CONTACT */
.btnCard{
  background-color: #F2F2F2;
  border-color: #F2F2F2;
  padding: 8px;
  cursor: pointer;
  /* border:0; */
  
}

/* .btnCard:hover{
  background-color:#E5E5E5;
} */
